<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><img src='<%= @image_url %>' /></p>
    <p><strong>Initial prompt:</strong> <%= @initial_prompt %></p>
    <p><strong>GPT-4 generated prompt:</strong> <%= @prompt %></p>
    <p><strong>Dalli-3 revised prompt:</strong> <%= @revised_prompt %></p>
  </body>
</html>
