<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><strong>Original prompt:</strong> <%= @prompt %></p>
    <p><strong>Revised prompt:</strong> <%= @revised_prompt %></p>
    <p><img src='<%= @image_url %>' /></p>
    <p>Meowwwwww</p>
  </body>
</html>
