<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Give us snackies plz</h1>
    <p>
      Your username is: <%= @user.email %>.<br>
    </p>
    <p>
      <a href='<%= @url %>'>Click here for all the snackies</a>
    </p>
    <p>Meowwwwww</p>
  </body>
</html>
