<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>AI is generating an image for this prompt:</p>
    <p><%= @prompt %></p>
  </body>
</html>
